Jinja2
MarkupSafe
PyYAML
Pygments
annotated-types
anyio
certifi
charset-normalizer
click
colorama
dnspython
email_validator
fastapi
fastapi-cli
h11
httpcore
httptools
httpx
idna
markdown-it-py
mdurl
orjson
pip
pydantic
pydantic_core
python-dotenv
python-multipart
requests
rich
shellingham
sniffio
starlette
typer
typing_extensions
ujson
urllib3
uvicorn
watchfiles
websockets